a {
    color: #ff4a17;
    text-decoration: none;
}

a:hover {
    color: #ff724a;
    text-decoration: none;
}


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

.services .icon-box {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 6px;
    background: #fff;
}

.services .icon-box i {
    float: right;
    color: #5c8eb0;
    font-size: 40px;
    line-height: 0;
}

.services .icon-box h4 {
    margin-left: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.services .icon-box h4 a {
    color: #365870;
    transition: 0.3s;
}

.services .icon-box .icon-box:hover h4 a {
    color: #ff4a17;
}

.services .icon-box p {
    margin-left: 20px;
    line-height: 24px;
    font-size: 14px;
}

.services .icon-box:hover h4 a {
    color: #ff4a17;
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background-color: #f0f4f8;
}

.section-title {
    padding-bottom: 40px;
}

.section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #5c8eb0;
    font-family: "Poppins", sans-serif;
}

.section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #ff8664;
    margin: 4px 10px;
}

.section-title p {
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #263d4d;
}