/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
    width: 100%;
    height: 80vh;
    background: url("../img/1.jpg") top center;
    background-size: cover;
    position: relative;
}

#hero:before {
    content: "";
    background: rgba(45, 53, 69, 0.7);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .container {
    text-align: center;
    padding-top: 50px;
}

@media (max-width: 992px) {
    #hero .container {
        padding-top: 0;
    }
}

#hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}

#hero h2 {
    color: #eee;
    margin: 15px 0 0 0;
    font-size: 22px;
}

#hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 9px 35px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 40px;
    border: 2px solid #ffc107;
    color: #fff;
}

#hero .btn-get-started:hover {
    background: #ffc107;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 768px) {
    #hero {
        height: 100vh;
    }
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }
    #hero h2 {
        font-size: 18px;
        line-height: 24px;
    }
}


/*--------------------------------------------------------------
# Stats Counter Section
--------------------------------------------------------------*/

.stats-item {
    padding: 30px;
    width: 100%;
}

.stats-item span {
    font-size: 48px;
    display: block;
    color: #0e1d34;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 5px;
    position: relative;
}

.stats-item span:after {
    content: "";
    position: absolute;
    display: block;
    width: 25px;
    height: 3px;
    background: #0d42ff;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.stats-item p {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #0e1d34;
}

.about .content p {
    text-align: justify;
}

#about {
    background-color: rgba(45, 53, 69, 0.7);
}

.about {
    background-image: url('../img/background.1.webp');
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}


/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/

.portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 25px auto;
    list-style: none;
    text-align: center;
    background: white;
    border-radius: 50px;
    padding: 2px 15px;
}

.portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px 8px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #444444;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
    color: #85b0be;
}

.portfolio #portfolio-flters li:last-child {
    margin-right: 0;
}

.portfolio .portfolio-item {
    margin-bottom: 30px;
}

.portfolio .portfolio-item .portfolio-info {
    opacity: 0;
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 0;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    background: rgba(255, 255, 255, 0.9);
    padding: 15px;
}

.portfolio .portfolio-item .portfolio-info h4 {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    color: #052c3f;
}

.portfolio .portfolio-item .portfolio-info p {
    color: #0d6e9e;
    font-size: 14px;
    margin-bottom: 0;
}

.portfolio .portfolio-item .portfolio-info .preview-link,
.portfolio .portfolio-item .portfolio-info .details-link {
    position: absolute;
    right: 40px;
    font-size: 24px;
    top: calc(50% - 18px);
    color: #094d6e;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover,
.portfolio .portfolio-item .portfolio-info .details-link:hover {
    color: #85b0be;
}

.portfolio .portfolio-item .portfolio-info .details-link {
    right: 10px;
}

.portfolio .portfolio-item .portfolio-links {
    opacity: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
    position: absolute;
    transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-item .portfolio-links a {
    color: #fff;
    margin: 0 2px;
    font-size: 28px;
    display: inline-block;
    transition: 0.3s;
}

.portfolio .portfolio-item .portfolio-links a:hover {
    color: #c8dbe1;
}

.portfolio .portfolio-item:hover .portfolio-info {
    opacity: 1;
    bottom: 20px;
}


/*--------------------------------------------------------------
  # Portfolio Details
  --------------------------------------------------------------*/

.portfolio-details {
    padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
    width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #85b0be;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #85b0be;
}

.portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(5, 44, 63, 0.08);
}

.portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
    margin-top: 10px;
}

.portfolio-details .portfolio-description {
    padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
    padding: 0;
}


/* ====== */


/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/

.team .member {
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.team .member .member-img {
    position: relative;
    overflow: hidden;
}

.team .member .social {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 40px;
    opacity: 0;
    transition: ease-in-out 0.3s;
    background: rgba(255, 255, 255, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
}

.team .member .social a {
    transition: color 0.3s;
    color: #052c3f;
    margin: 0 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.team .member .social a:hover {
    color: #85b0be;
}

.team .member .social i {
    font-size: 18px;
    line-height: 0;
}

.team .member .member-info {
    padding: 25px 15px;
}

.team .member .member-info h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px;
    color: #052c3f;
}

.team .member .member-info span {
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: #aaaaaa;
}

.team .member .member-info p {
    font-style: italic;
    font-size: 14px;
    line-height: 26px;
    color: #777777;
}

.team .member:hover .social {
    opacity: 1;
}


/*--------------------------------------------------------------
# Featured Services Section
--------------------------------------------------------------*/

#service {
    background-image: url('../img/11.jpg');
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

#service:before {
    content: "";
    background: rgb(220, 220, 238, 0.4);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.featured-services .service-item {
    position: relative;
    height: 100%;
    margin-bottom: 20px;
}

.featured-services .service-item .icon {
    margin-right: 20px;
}

.featured-services .service-item .icon i {
    color: #001f8d;
    font-size: 48px;
    transition: 0.3s;
}

.featured-services .service-item:hover .icon {
    background: #fff;
}

.featured-services .service-item:hover .icon i {
    color: var(--color-primary);
}

.featured-services .service-item .title {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 20px;
    color: var(--color-secondary);
    transition: 0.3s;
}

.featured-services .service-item .description {
    font-size: 15px;
    color: #132848;
    margin-bottom: 10px;
}

.featured-services .service-item .readmore {
    display: flex;
    align-items: center;
    color: blue;
    transition: 0.3s;
    font-weight: 700;
    font-size: 14px;
}

.featured-services .service-item .readmore i {
    margin-left: 8px;
}

.featured-services .service-item:hover .title,
.featured-services .service-item:hover .readmore,
.featured-services .service-item:hover .icon i {
    color: blue;
}